server:
  port: 80
spring:
  application:
    name: Movie_Tickets
  datasource:
    url: jdbc:mysql://localhost:3306/movie-project?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      url: redis://localhost:6379
  mail:
    host: smtp.gmail.com
    port: 587
    username: sushantmindi@gmail.com
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

admin:
  email: baadshah2003@gmail.com
  password: Baadshah@2211
  
Cloudinary:
  url:  ${CLOUDINARY_URL}

  spring:
    servlet:
      multipart:
        enabled: true
        max-file-size: 50MB
        max-request-size: 50MB

  server:
    tomcat:
      max-swallow-size: 50MB
      max-http-form-post-size: 50MB
